@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; 
*/
h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #ffffff;
  margin: 24px 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  color: #ffffff;
}

h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #d0d6f9;
}

h5 span {
  font-weight: 700;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

p {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

header {
  padding-top: 40px;
  padding-left: 55px;
  position: relative;
}

.container-main {
  position: relative;
  top: 27.77vh;
  display: flex;
  margin: 0 auto;
  padding: 0 165px;
  justify-content: space-around;
  align-items: center;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-row hr {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  width: 32.84722vw;
  position: absolute;
  left: 167px;
}

.header-row ul {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 57.6388vw;
  height: 10.66vh;
  padding-right: 11.45833vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
}

.header-row ul li {
  padding: 40px 0;
  height: 96px;
}

.header-row ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-btn-active {
  border-bottom: 3px solid white;
}

.header-row ul a {
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  margin-left: 12px;
}

.nav-button-number {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
}

/* main */

.main-text {
  max-width: 450px;
}

.explore-button button {
  border: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0b0d17;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  text-transform: uppercase;
}

.explore-button {
  position: relative;
  cursor: pointer;
}

.explore-button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 450px;
  width: 450px;
  opacity: 0%;
  border-radius: 50%;
  transition: 0.5s;
  transform: translate(-19.555%, -19.555%);
}

.explore-button:hover::before {
  opacity: 30%;
}

/* destination */

.container-dest {
  position: relative;
  top: 8.44vh;
  margin: 0 auto;
  padding: 0 165px;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.container-dest h5 {
  color: #ffffff;
  margin-bottom: 97px;
  text-transform: uppercase;
}

.container-dest h5 span {
  margin-right: 0.75rem;
}

.dest-row,
.dest-links ul,
.dest-bottom-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dest-line {
  border: 1px #383b4b solid;
  margin: 54px 0 28px;
}

.dest-row {
  margin: 0 auto;
  gap: 10.90277vw;
}

.dest-text {
  max-width: 445px;
}

.planet-name {
  margin: 37px 0 14px;
}

.dest-bottom-text {
  gap: 79px;
}

#planet-desc {
  height: 14.22vh;
}

.moon-btn {
  border-bottom: 3px solid white;
}

.distance,
.travel-time {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dest-bottom-text-row2 {
  color: #ffffff;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
}

.dest-bottom-text-row1 {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
}

.planet-navbar-active {
  border-bottom: 3px solid white;
  color: #ffffff;
}

.dest-links ul {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  text-transform: uppercase;
  gap: 2rem;
  cursor: pointer;
}

.dest-links ul li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
